/* @define-color background #282a36; */
/* @define-color foreground #f8f8f2; */
/* @define-color selection #44475a; */
/* @define-color unfocused #6272a4; */
/* @define-color red #ff5555; */
/* @define-color yellow #f1fa8c; */
/* @define-color cyan #8be9fd; */
/* @define-color purple #bd93f9; */
/* @define-color pink #ff79c6; */
/* @define-color orange #ffb86c; */
@import url("waybar/themes/mocha.css");

* {
    border: none;
    border-radius: 0px;
    font-family: 'FiraCode Nerd Font';
    font-size: 16px;
    min-height: 0;
}

#window {
    padding: 0px 10px;
    background: @base;
}

window#waybar {
    background: @base;
    color: @foreground;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background: @base;
}

window#waybar.solo {
    background: @base;
}

#workspaces button {
    padding: 0px 0.7em;
    background: @background;
    color: @foreground;
}

#workspaces button.focused {
    color: @green;
}

#workspaces button.active {
    background: @blue;
    color: @white;
    border-radius: 30px;
}

#workspaces button.urgent {
    background: @background;
    color: @red;
}

#mode {
    background: @background;
    border: 3px solid @purple;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#submap,
#idle_inhibitor,
#custom-power,
#temperature,
#cpu,
#disk,
#memory,
#bluetooth {
    padding: 0 8px;
    color: @foreground;
    background-color: @background;
}

@keyframes blink {
    to {
        color: @foreground;
    }
}

#battery.warning {
    color: @yellow;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

#battery.critical {
    color: @red;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

#battery.charging {
    color: @green;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

label:focus {
    background-color: @selection;
}

#temperature.critical {
    color: @red;
}

#idle_inhibitor.activated {
    color: @green;
}
